<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>Navbar}}
   {{!-- <div><h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste! Voluptates omnis dicta
     non harum, quia dolore? Atque incidunt commodi architecto fugiat blanditiis, voluptatum impedit nobis 
     debitis voluptates culpa vitae, repudiandae porro ab molestias obcaecati molestiae sit iste velit quaerat 
     .</h1></div> --}}
     <div class="index-main-div">
        <div class="index-card">
            <p class="index-card-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error reprehenderit dignissimos voluptate deserunt esse eos quis, nobis qui voluptatibus dicta explicabo vero! Quia provident corporis, perspiciatis reiciendis nemo nam ullam veritatis, eaque non delectus pariatur distinctio modi eligendi. Ratione, ullam vel maxime repellat quisquam perferendis praesentium fuga earum autem quo!.</p>
        </div>
        <div class="index-card">
                <p class="index-card-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error reprehenderit dignissimos voluptate deserunt esse eos quis, nobis qui voluptatibus dicta explicabo vero! Quia provident corporis, perspiciatis reiciendis nemo nam ullam veritatis, eaque non delectus pariatur distinctio modi eligendi. Ratione, ullam vel maxime repellat quisquam perferendis praesentium fuga earum autem quo!.</p>
        </div>
        <div class="index-card">
                <p class="index-card-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error reprehenderit dignissimos voluptate deserunt esse eos quis, nobis qui voluptatibus dicta explicabo vero! Quia provident corporis, perspiciatis reiciendis nemo nam ullam veritatis, eaque non delectus pariatur distinctio modi eligendi. Ratione, ullam vel maxime repellat quisquam perferendis praesentium fuga earum autem quo!.</p>
        </div>
     </div>
</body>
</html>