<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
   <div class="navbar-main-div">
    <div class="navbar-second-div">
    <p class="navbar-main-p">Pathshala.com</p>
        <ul class="navbar-ul">
            <li class="navbar-li"><a href="/">Home</a></li>
            <li class="navbar-li"><a href="/login">Sign in</a></li>
            <li class="navbar-li"><a href="/Register">Sign up</a></li>
        </ul>
        </div>
        <div class="navbar-heading">
            <h1>WELCOME TO MERN BACKEND COURSE</h1>
        </div>
    </div>
</body>
</html>